body {
  padding: 20px;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #1c1c1c;
  color: white;
  --red: #c34;
  --red: #f00;
  --blue: #08f;
  --green: #0a4;
  --white1: #def;
  --white2: #cde;
  --white3: #bcd;
}
.logo {
  text-align: center;
  margin: 24px 12px 36px;
  font-size: 48px;
}
.logo > span {
  color: var(--red);
}
#search-form {
  margin: 0 auto;
  display: flex;
  width: 95%;
  max-width: 660px;
  height: 45px;
  border-radius: 6px;
  overflow: hidden;
  background: #333;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#search-input {
  width: calc(100% - 50px);
  height: 45px;
  padding: 0 8px 0 18px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: #333;
  color: var(--white1);
  font-size: 16px;
}
.submit {
  width: 50px;
  height: 45px;
  cursor: pointer;
  color: #333;
  background: var(--red);
  color: white;
  outline: none;
  border: none;
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
  padding-left: 4px;
  padding-bottom: 4px;
}
#results {
  width: 95%;
  max-width: 660px;
  margin: 0 auto;
  padding: 24px 18px;
  box-sizing: border-box;
}
.result {
  padding: 6px 0 18px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 12px;
  border-bottom: 1px solid #444;
}
.result:last-of-type {
  border-bottom: none;
}
.title {
  margin: 12px 0 6px;
  font-weight: normal;
  color: var(--white1);
  font-size: 18px;
}
.url {
  color: var(--green);
  margin: 4px 0 18px;
  font-size: 14px;
}
.text {
  margin: 6px 0;
  font-size: 18px;
}
.result > iframe {
  width: calc(100% + 36px);
  height: 300px;
  box-sizing: border-box;
  border: 1px solid #444;
  margin: 0 -18px 6px;
}
li {
  margin-bottom: 4px;
}
code {
  background: #444;
  padding: 2px 6px;
  border-radius: 4px;
  display: inline-block;
}